container{margin:0 auto;}

header{
	width: 95%;
	background: #bbb;
	margin: 1% 2% 0 2%;
	padding: 1%;
	position: sticky; 
	top: 0;
}

article{
	width: 95%; 
	height: 300px;
	margin: 1% 2% 0 2%;
	padding: 1%;
	border: 1px solid black;
}

footer{
	clear: both;
	width: 95%;
	background : #bbb;
	margin: 1% 0 0 2%;
	padding: 1%;
	position: sticky; 
	bottom: 0;
}